.pagination {
    display: flex;
    background-color: var(--card-background);
    box-shadow: var(--shadow-l1);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    flex-wrap: wrap;
    padding: 8px;

    .page-link {
        padding: 10px 20px;
        display: inline-flex;
        user-select: none;

        &.current {
            border-radius: var(--card-border-radius);
            // font-weight: bold;
            background-color: var(--card-background-selected);
            color: var(--card-text-color-main);
        }

        color: var(--card-text-color-secondary);
    }
}
